# Segredos e Configurações
.env
.aws
*.pem
*.key

# Git
.git
.gitignore

# Dependências
node_modules/
venv/
.venv/
__pycache__/
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Outros arquivos desnecessários
.DS_Store
dist/
build/