# Ambientes Virtuais
venv/
.venv/
env/
bin/
lib/
include/
share/
.env

# Python e Jupyter
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.local/share/jupyter/

# Docker e logs
*.log
.docker/

# Dados
data/
dados/
*.csv
*.json
*.sqlite
*.xlsx
*.parquet

# Chaves e Segredos
.ssh/
secrets.yaml